# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata
.Rprofile
.Renviron

# Jupyter Notebook
.ipynb_checkpoints/

# macOS / System
.DS_Store
*.swp

# RStudio files
.Rproj.user/
*.Rproj

# Virtual environments (if any)
venv/
.env/
env/
